// install the following packages:
// yarn add --dev eslint prettier eslint-config-airbnb eslint-config-prettier eslint-plugin-prettier eslint-plugin-react eslint-plugin-import eslint-plugin-jsx-a11y

{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/anchor-is-valid": ["error", {
      "components": ["Link"],
      "specialLink": ["to", "hrefLeft", "hrefRight" ],
      "aspects": ["noHref", "invalidHref", "preferButton"]
    }],
    "react/prefer-stateless-function": [0],
    "global-require": [0],
    "no-console": [0],
    "no-debugger": [0],
    "no-underscore-dangle": [0],
    "react/prop-types": [0],
    "no-restricted-syntax": [0],
    "react/forbid-prop-types": [0]
  }
}
