@import 'palette.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

*:not(.icon) {
  font-family: Montserrat !important;
}

#root {
  display: flex;
}

a {
  color: $black !important;
}

.active.item {
  color: $black !important;
  background: $yellow !important;
}

// Competitions Menu
.competition-menu-container {
  display: flex;
  flex-shrink: 0;
  flex-basis: 250px;
  flex-direction: column;
  background: $gray;

  h2 {
    padding: 10px;
    text-transform: uppercase;
  }
}

.competition-menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.competition-link {
  padding: 10px;
  color: $black;

  &:hover {
    color: $black;
    background: $yellow;
  }
}

// Main
.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
  padding: 10px;
}

.main-container-header {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid $gray;

  .competition-header {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    .competition-meta {
      display: flex;

      .meta-item:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}

.page-title {
  text-align: center;
  margin-top: 10px !important;
  margin-bottom: 30px !important;
}


.header-with-center-text {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #cacaca;
  line-height: 0.5em;
  margin: 40px 0 !important;

  span {
    background: white;
    padding: 0 20px;
    color: $black;
  }
}

@for $i from 1 through 6 {
  .menu-#{$i}-button {
    display: flex;
  }

  .menu-#{$i}-button a {
    text-align: center;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
  }
}

ul.list-grid {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;

  li {
    box-sizing: border-box;
  }
}

footer {
  margin: 2.5rem;
  text-align: center;
}


// roster specific styles
.card-x {
  width: 25%;
  margin: 10px;
  padding: 10px;
  background: $yellow;
}

.card-player {
  //background: $gray;
}

.card-player-body h2 {
  display: flex;
}

.player-jersey-number {
  padding-right: 20px;
  border-right: solid 2px darken($yellow, 20%);
}

.player-name {
  margin-left: 20px;
}

.player-info {
  // display: flex;
  div {
    display: flex;
    span {
      width: 50%;
    }
    span:first-child {
      text-align: left;
    }
    span:last-child {
      text-align: right;
    }
  }
}

/* Awesome effects */

// The parent element needs have position: relative
.animated-underline-container {
  position: relative;
}

.animated-underline::after {
  content: '';
  display: block;
  width: 0;
  height: 4px;
  background: $yellow;
  transition: width .2s;
  position: absolute;
  left: 0;
  bottom: 0;
}

.animated-underline:hover::after {
  width: 100%;
  transition: width .2s;
}
