@import 'palette.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&subset=latin-ext');

$top-bar-height: 90px;

*:not(.icon) {
  font-family: Montserrat !important;
  border-radius: 0 !important;
}

body {
  color: $black !important;
}

#root {
  display: flex;
  min-height: 100vh;
}

.soccer-loader {
  display: flex !important;
  flex-direction: column;
  width: auto !important;
  height: auto !important;
  text-align: center;
  font-style: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  z-index: 1000;

  .loading-text {
    margin-top: 10px;
  }
}

a,
a:hover {
  color: $black;
}

.active.item {
  color: $black !important;
  background: $yellow !important;
}

// Competitions Menu
.competition-menu-container {
  display: flex;
  flex-shrink: 0;
  flex-basis: 250px;
  flex-direction: column;
  background: hsl(205, 52%, 11%);
  color: #fff;
  position: fixed;
  width: 250px;
  height: 100%;

  .masthead {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $top-bar-height;
    text-transform: uppercase;
    a {
      color: #fff;
    }
  }
}

.competition-menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.competition-menu-bar {
  // This is done to maximize the click area
  .item {
    padding: 0 !important;
    a {
      padding: 9px 15px;
      font-weight: 600;
    }
  }
}

.competition-link {
  display: flex;
  align-items: center;
  padding: 5px;
  color: #fff;

  &:hover,
  &.active {
    color: $black;
    background: $yellow;
  }

  .competition-logo {
    width: 42px;
  }
}

// Main
.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
  background-size: cover;
  margin-left: 250px;
  width: 100%;

  .page-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.main-container-header {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  height: $top-bar-height;

  .competition-header {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    .competition-meta {
      display: flex;

      .meta-item:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}

.page-title {
  text-align: center;
  margin-top: 10px !important;
  margin-bottom: 30px !important;
}

// Match day controls
.matchday-controls {
  display: flex;
  align-items: center;
  justify-items: flex-end;
  justify-content: space-between;
  margin: 10px 0;

  h2 {
    margin: 0 !important;
  }

  & > span {
    box-shadow: 0 0 3px #9a9e9a;
    i.large.icon,
    i.large.icons {
      vertical-align: sub;
    }
    i.icon {
      margin: 0;
    }
  }

  .matchday-nav-button {
    background: $gray;
    padding: 5px 5px;
    border: 0 none;

    .icon {
      color: darken($yellow, 10%);
    }

    &:not(:last-child) {
      border-right: 1px solid darken($gray, 10%);
    }
  }
}

.header-with-center-text {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #cacaca;
  line-height: 0.5em;
  margin: 40px 0 !important;

  span {
    background: white;
    padding: 0 20px;
    color: $black;
  }
}

@for $i from 1 through 6 {
  .menu-#{$i}-button {
    display: flex;
  }

  .menu-#{$i}-button a {
    text-align: center;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
  }
}

ul.list-grid {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;

  li {
    box-sizing: border-box;
  }
}

footer {
  margin: 10px;
  a, a:hover {
    color: white;
  }

  a {
    text-decoration: underline;
  }
}

// roster specific styles
.card-x {
  width: 300px;
  margin: 10px;
  padding: 10px;
  background: $yellow;
}

.card-player {
  //background: $gray;
}

.card-player-body h2 {
  display: flex;
}

.player-jersey-number {
  padding-right: 20px;
  border-right: solid 2px darken($yellow, 20%);
}

.player-name {
  margin-left: 20px;
}

.player-info {
  // display: flex;
  div {
    display: flex;
    span {
      width: 50%;
    }
    span:first-child {
      text-align: left;
    }
    span:last-child {
      text-align: right;
    }
  }
}

// Fixtures
.fixture-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.match-fixture {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 10px;
  justify-content: center;
}

.match-fixture-header {
  margin-top: 40px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border: 1px solid #fdce44;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.fixture-team {
  width: calc(50% - 50px);
}

.fixture-status-score-live {
  font-size: 1rem;
  border: 1px solid $red;
  padding: 1px 3px;
}

.fixture-status {
  display: flex;
  align-items: center;
  min-width: 250px;
  justify-content: center;
}

.fixture-status-score {
  font-size: 2.5rem;
  margin: 0 10px;
}

.team-label {
  display: flex;
  align-items: center;
  .team-label-name {
    padding-left: 20px;
  }
}

.team-label--reverse {
  flex-direction: row-reverse;
  .team-label-name {
    padding-right: 20px;
  }
}

/* Awesome effects */

// The parent element needs have position: relative
.animated-underline-container {
  position: relative;
}

.animated-underline:not(.active)::after {
  content: '';
  display: block;
  width: 0;
  height: 4px;
  background: $yellow;
  transition: width 0.2s;
  position: absolute;
  left: 0;
  bottom: 0;
}

.animated-underline:not(.active):hover::after {
  width: 100%;
  transition: width 0.2s;
}
