/* Coolors Exported Palette - coolors.co/232728-3772ff-df2935-fdca40-e6e8e6 */

$black: rgba(35, 39, 40, 1);    // $color1
$blue: rgba(55, 114, 255, 1);   // $color2
$red: rgba(223, 41, 53, 1);     // $color2
$yellow: rgba(253, 202, 64, 1); // $color2
$gray: rgba(230, 232, 230, 1);  // $color2
