.animated-underline::after {
  content: '';
  display: block;
  width: 0;
  height: 4px;
  background: #000;
  transition: width .2s;
  position: absolute;
  left: 0;
  bottom: 0;
}

.animated-underline:hover::after {
  width: 100%;
  transition: width .2s;
}
