/* Coolors Exported Palette - coolors.co/232728-3772ff-df2935-fdca40-e6e8e6 */

/* HSL */
$color1: hsla(192%, 7%, 15%, 1);
$color2: hsla(222%, 100%, 61%, 1);
$color3: hsla(356%, 74%, 52%, 1);
$color4: hsla(44%, 98%, 62%, 1);
$color5: hsla(120%, 4%, 91%, 1);

/* RGB */
$color1: rgba(35, 39, 40, 1);
$color2: rgba(55, 114, 255, 1);
$color3: rgba(223, 41, 53, 1);
$color4: rgba(253, 202, 64, 1);
$color5: rgba(230, 232, 230, 1);